{% extends 'base.html' %}

{% block content %}
<h1>Criador de Personagens</h1>
<form method="POST" action="/add_character">
    <label for="name">Nome do Personagem:</label><br>
    <input type="text" id="name" name="name"><br><br>
    <label for="race">Raça:</label><br>
    <select id="race" name="race">
        <option value="vampire">Vampiro</option>
        <option value="demon">Demonio</option>
        <option value="celestials">Celestial</option>
        <option value="werewolfs">Lobisomens</option>
        <option value="humans">Humanos</option>
    </select><br><br>
    <label for="mask">Mascara:</label><br>
    <input type="text" id="mask" name="mask"><br><br>
    <label for="clan">Clã:</label><br>
    <select id="clan" name="clan">
        <option value="assamitas">Assamitas</option>
        <option value="brujah">Brujah</option>
        <option value="gangrel">Gangrel</option>
        <option value="giovanni">Giovanni</option>
        <option value="lasombra">Lassombra</option>
        <option value="malkavianos">Malkavianos</option>
        <option value="nosferatu">Nosferatu</option>
        <option value="ravnos">Ravnos</option>
        <option value="seguidores de set">Seguidores de Set</option>
        <option value="toreador">Toreador</option>
        <option value="tzmisce">Tzimisce</option>
        <option value="ventrue">Ventrue</option>
        <option value="caitiff">Caitiff</option>
        <option value="sangue-ralo">Sangue-ralo</option>
    </select><br><br>
    <label for="bloodline">Geração:</label><br>
    <select id="bloodline" name="bloodline">
        <option value="decima">11°</option>
        <option value="decimaprimeira">12°</option>
        <option value="decimaterceira">13°</option>
        <option value="decimaquarta">14°</option>
        <option value="decimaquinta">15°</option>
        <option value="sangue-ralo">Sangue-ralo</option>
    </select><br><br>
    <label for="description">Descrição:</label><br>
    <textarea id="description" name="description" required></textarea><br><br>
    <input type="submit" value="Adicionar Personagem">
</form>
<br>
<br>
<img src="{{ url_for('static', filename='img/vampire_character_add.jpeg') }}" alt="character_add" width="1880" height="200" style="margin-bottom: 20px;">
{% endblock %}

