{% extends 'base.html' %}

{% block content %}
<section>
    <div class="text-section">
        <h1>Camilla Tremere</h1>
        <ul>
            <li>Clã: Tremere</li>
            <li>Pseudônimo: </li>
            <li>Geração:8° </li>
            <li>Mascara: Presidente do centro de pesquisas RedHeart.</li>
            <li>Hierarquia: Lider de Clã, Camarilla</li>
            <li>Idade:500 Anos Aproximadamente </li>
            <li>"Descendentes:"</li>
            <li>Locais: </li>
            <p>Durante sua vida mortal, Camilla Vasilyeviche filha de Ivâ IV Vasilyeviche apelidado de Ivã, o Terrível, Czar do Czarado da Rússia, 
                durante o reinado de seu pai aprendeu as artes da guerra junto de seus irmãos Teodoro I e Basílio IV, Em um dia de festas no kremlin a jovem Camilla de 18 anos acabou por conhecer
                Astralis Tremere e Beatriz Tremere jovens andarilhos que viajavam pelo mundo realizando a procura de conhecimento antigo, apresentaram a Alice a magia e ciência, a qual se tornou obcecada
                quando Astralis e Beatriz decidiram continuar seus caminhos convidaram Camilla a viajar e conhecer o mundo ao lado deles, Camilla por medo de seu pai escolheu ficar    
                pouco meses depois enquanto ela se aprofundava cada vez mais no caminho de magia foi descoberta por seu irmão Teodoro, em desespero por medo de que seu irmão contasse a seu pai e que 
                ela fosse taxada como bruxa, utilzou um feitiço para manipular suas memorias, infelizmente devido sua falta de conhecimento acabou por tornar seu irmão em um demente   
                incapaz de formar raciocinios claros, com raros momentos de lucidez, com medo que a situação do seu irmão fosse revertida começou a procurar por Astralis e Beatriz, mandou cartas a todos os 
                Czarados sob o comando de seu pai a descrição deles e que eles deveriam a encontrar o mais rapido possivel, infelizmente foi improdutivo, após a 
            </p>
            
            
        </ul>
    </div>
    <img src="{{ url_for('static', filename='img/Camilla/Camilla_Tremere_1.jpg') }}" alt="camilla" class="img-aside">
</section>
{% endblock %}