{% extends 'base.html' %}

{% block content %}
<section>
    <div class="text-section">
        <h1>Conde Drácula, Vlad Tepes</h1>
        <ul>
            <li>Clã: Gangrel </li>
            <li>Pseudônimo: Conde, Vlad o impalador, Lorde das trevas.</li>
            <li>Geração:5° </li>
            <li>Mascara: Antigo conde da Transilvania (Falecido em 1900).</li>
            <li>Hierarquia: Grande ancião.</li>
            <li>Idade:Desconhecido</li>
            <li>Afiliados:<a href="{{ url_for('add_character') }}">Lucius Dracul</a>,<a href="{{ url_for('add_character') }}">Agnes Dracul</a></li>
            <li>Locais: Castelo de Drácula, Transilvania</li>
            <li>Durante sua vida mortal, ele foi um príncipe engenhoso e cruel da Valáquia; No final da vida,
                 ele forçou ou persuadiu o vampiro Lambach Ruthven a abraçá-lo, e desde então trabalha nas sombras da sociedade dos Membros.
                 Dono da lendária Espada de Drácula, seu carniçal favorito foi o advogado britânico Renfield.</li>
            
            <p>Nenhuma história de horror nos gela a espinha como o mito de Drácula.
                 Tudo que nós consideramos mau, perverso e horrivelmente sedutor espreita atrás de seu porte real e de seu sorriso com presas.
                  A maioria das pessoas pensa que o vampiro Drácula só existiu em ficção. 
                  Muito poucos sabem que ele era um principe de carne e sangue reais que reinou na Transilvânia durante a era das Cruzadas,
                   e que ele acabou com a vida de cem mil pessoas. Mais poucos ainda estão cientes de sua existência continuada, 
                   ou que ele brande um poder maior na não-vida do que ele já tenha tido em vida.<br>

                Para pessoas primitivas, Drácula é uma fábula aterrorizante usada para aterrorizar e disciplinar as crianças. 
                Para pessoas civilizadas, é um entretenimento barato usado para assustar e excitar adultos. 
                A poucas pessoas familiares com a vida histórica do enigmático príncipe Vlad Drácula zombam da possibilidade dele ter sido um vampiro. 
                Mesmo alguns dos outros vampiros consideram Drácula uma mera fábula. E é exatamente o jeito que Drácula gosta. Ele esconde-se à plena vista.</p>
        </ul>
    </div>
    <img src="{{ url_for('static', filename='img/dracula.jpeg') }}" alt="dracula" class="img-aside">
</section>
<a href="{{ url_for('add_character') }}">Criar Novo Personagem</a>
{% endblock %}
