/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

main {
    padding: 20px;
    margin-bottom: 80px; /* Adiciona espaço inferior para evitar sobreposição com o footer */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
    bottom: 0;
}

/* Navbar */
header {
    display: flex;
    align-items: center;
    background: linear-gradient(to left, black, red);
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    flex-wrap: wrap; /* Permite a navbar se ajustar em telas pequenas */
}

.logo {
    height: 50px;
    width: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 12px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap; /* Faz com que o menu quebre em múltiplas linhas se necessário */
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-weight: bold;
}

nav ul li a:hover {
    color: red;
}

nav ul li ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    background-color: black;
    z-index: 1000;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li a {
    padding: 10px;
}

nav ul li ul li a:hover {
    background-color: red;
    color: black;
}

/* Destacar o nome do usuário e o botão de logout */
.user-section {
    background-color: #f8f9fa;
    padding: 5px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-section .navbar-text {
    font-weight: bold;
    margin-right: 10px;
}

.user-section .btn {
    font-size: 0.9rem;
}

/* Ajustes para garantir responsividade */
@media (max-width: 768px) {
    .logo {
        height: 40px;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    nav ul li a {
        font-size: 16px; /* Reduz o tamanho da fonte em telas menores */
    }

    nav ul li ul {
        position: static; /* Ajusta o submenu em telas pequenas */
        padding-left: 20px;
    }

    .user-section {
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .logo {
        height: 30px; /* Logo menor para telas menores */
    }

    nav ul li a {
        font-size: 14px; /* Reduz ainda mais o tamanho da fonte em telas muito pequenas */
    }

    /* Ajusta o footer para telas pequenas */
    footer {
        padding: 15px;
    }
}
