{% extends 'base.html' %}

{% block content %}
<section> 
    <div class="text-section">
        <h1>Personagens Importantes</h1>

            <ul>
             {% for character in characters %}
            <li>{{ character.name }} - {{ character.description }}
                <form method="POST" action="{{ url_for('delete_character', id=character.id) }}" style="display:inline;">
                    <button type="submit">Deletar</button>
                </form>
             </li>
            {% endfor %}
        </ul>
      

        <ul>


            <li><a href="{{ url_for('leo') }}">Leonardo Graylock</a> <br></li>


        </ul>
        <a href="{{ url_for('add_character') }}">Adicionar Novo humano</a>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
        
</section>
    <img src="{{ url_for('static', filename='img/vvampirethemasquerade-ampire_clans.jpg') }}" alt="vampire_clans" width="1880px">
{% endblock %}
