{% extends 'base.html' %}

{% block content %}
<section>
    <div class="text-section">
        <h1>Leonardo Graylock </h1>
        <ul>
            <li>Humano</li>
            <li>Pseudônimo:Comerciante do mercado negro de Nova York </li>
            <li>Idade:41 Anos </li>
            <li>Afiliações:</li>
            <li>Locais: Nova York- Dante's Bar</li>
            <p>
                Conhecido como o rei de tudo que é ruim em Nova York, Leonardo conhecido como "King Leo" é o principal traficante de armas, drogas e bebidas alcolicas de NY,
                A proibição do alcool pela lei seca fez dele um magnata da ilegalidade.
            </p>
            
            
        </ul>
    </div>
    <img src="{{ url_for('static', filename='img/king_leo.jpeg') }}" alt="king_leo" class="img-aside">
</section>
{% endblock %}