{% extends 'base.html' %}

{% block content %}
<section>
    <div class="text-section">
        <h1>Os Assamitas</h1>
    <ul>
        <li>O Clã da Caça, Assassinos, Filhos de Haqim, Sarracenos, Mediadores, Legisladores, Banu Haqim</li>
        <li>Disciplinas: Feitiçaria do Sangue, Celeridade, Ofuscação</li>
        <li>Perdição:Vício em Sangue, quando um dos Juízes prova o Sangue de outro Cainita, é muito difícil para eles parar. </li>
        <li>Compulsão: Julgamento o vampiro é compelido a punir qualquer um que pareça transgredir suas crenças pessoas, tomando seu sangue como uma vingança justa pelo crime.</li>
        <p> Os juízes dos Banu Haqim estão divididos entre sua sede hereditária por Sangue vampírico e sua paixão pela justiça.
            Árbitros severos, eles são ferozmente devotados a manter um código moral e Abraçar mortais capazes de avaliar e lidar com ameaças,
            fazer cumprir as leis e tradições e punir transgressores.
        </p>
    </ul>
        
    </div>
    <img src="{{ url_for('static', filename='img/assamitascharacter.jpg') }}" alt="assamitas_character" class="img-aside">
</section>>
    

{% endblock %}
