{% extends 'base.html' %}

{% block content %}
<img src="{{ url_for('static', filename='img/camarilla.png') }}" alt="Camarilla" style="display: block; margin: 0 auto;">       
<section>
    
    <div class="text-section">
    <ul>
        <p> 
            A Camarilla é uma seita fundada na Idade Média, defendendo 6 tradições ancestrais, que já existiam no tempo de Caim.<br>
            A mais famosa é a Máscara, que proíbe que um vampiro exponha sua verdadeira natureza a um mortal (é claro que exterminando o mortal logo após a revelação não há nenhum problema).<br>
            A Camarilla, de um modo ou de outro, impede uma destruição indiscriminada de mortais e o caos que os vampiros podem causar no mundo.<br>
            Eles são vampiros que ainda andam e agem como humanos (na maioria das vezes). Mas não se engane... nenhuma seita ou clã é completamente benéfica.
             No início, era composta por 7 clãs. Recentemente, a Arconte Gangrel decidiu que o Clã iriam seguir um caminho, abandonando de vez a Seita, 
             deixando somente 6 Clãs em suas fileiras.
        </p>
        <p>
            A Camarilla é uma seita fundada na Idade Média, que surgiu numa tentativa de manter a sociedade vampírica unida contra o poder da Inquisição no século XV.
            Defendendo 6 tradições ancestrais, que já existiam no tempo de Caim, a mais famosa é a Máscara, que proíbe que um vampiro exponha sua verdadeira natureza a um mortal
             (é claro que exterminando o mortal logo após a revelação não há nenhum problema). Sob sua liderança de ferro, a Tradição da Máscara evoluiu de uma sugestão
              cautelosa para o princípio condutor da sobrevivência dos Membros. Ainda hoje, a Camarilla se preocupa com a execução da Máscara, 
              mantendo a harmonia entre os Membros e os mortais, lutando contra o Sabá, encarado como o oponente direto.
        </p>
        <p>
            A Camarilla vê a si mesma como a verdadeira sociedade dos Membros e está parcialmente correta. Ela é a maior seita de mortos-vivos do planeta. 
            Praticamente qualquer vampiro, não importando a linhagem, pode reivindicar sua filiação à Camarilla. Na verdade, a Camarilla se assegura de que todos
             os vampiros se encontrem sob a sua égide, sem considerar a opinião do vampiro em questão.
        </p>
        <p>
            Através dos anos, a seita tem tentado estender a sua influência sobre outras áreas da vida vampírica e todas as vezes foi fortemente repreendida 
            por sua insolência. Os príncipes não toleram interferências nos assuntos de suas cidades, enquanto os Matusaléns zombam da temeridade dos mais 
            jovens que pensam poder brincar de Jyhad. Na prática, a influência da Camarilla começa e termina com a proteção da Máscara, para assegurar a 
            coexistência entre Membros e mortais.  
        </p>
        <p>
            A Camarilla se diz aberta à filiação de qualquer vampiro interessado, não importando a linhagem, mas a grande maioria de seus integrantes 
            é representada pelos sete clãs fundadores. Foram os seus membros que fundaram a seita e apenas estes clãs compõem regularmente o Círculo Interno, 
            que governa a Camarilla. Outros vampiros de diferentes linhagens podem participar de Conclaves e reuniões, mas suas vozes frequentemente são ignoradas. 
        </p>
        <p>
            Depois da Revolta Anarquista a Camarilla se colocou verdadeiramente contra o Sabá, percebendo ser este o único meio de mantê-los à distância. 
            A Camarilla sozinha manteve a Máscara, protegendo seus pares, enquanto o Sabá ignorou prontamente as Tradições e tudo o que era sagrado, para apoiar 
            seus sonhos paranóicos sobre a Gehenna. A discórdia é um luxo que não deve ser permitido em tempos de guerra e a Camarilla acredita firmemente que 
            aqueles que não estão com a seita estão contra ela.<br>
        <p>
            Contudo, para os assustados anciões que constituem o seu alto escalão, a Camarilla tem vários inimigos. Nas noites atuais, a Camarilla não é mais tão
             sólida quanto seus defensores dizem que ela é. Os anciões sustentam-se em suas posições, negando-se a deixá-las em favor daqueles que atingiram a idade
              da razão. Os vampiros mais jovens sentem que foram deixados de fora de uma organização que eles devem apoiar, mas que oferece pouca ou nenhuma 
              recompensa aos seus esforços, a não ser pelas ameaças de punições aos que falham.<br>
        </p>
        <p>
            Os ancillae encontram-se aprisionados no meio do conflito, incapazes de se decidir entre os jovens ou os anciões; juntar-se aos neófitos significaria 
            estar relegado aos níveis mais baixos de poder, enquanto a tentativa de se sujeitar aos anciões envolve o risco de ferir alguma sensibilidade e ser 
            destruído por sua insolência.<br>
        </p>
        <p>
            Muitos anciões do alto escalão da Camarilla se encontram na posição de relíquias. Uma grande parte deles não está disposta ou é incapaz de se adaptar
             às novas tecnologias dominadas pelos mais jovens (telefones celulares, computadores portáteis, Kevlar, granadas de fósforo, lâmpadas ultravioleta,
              munições incendiárias) e no mundo moderno, ser incapaz de usar telefones ou rádios deixa os anciões em nítida desvantagem. Se eles renunciarem às 
              suas posições, colocando-se fora do poder, eles podem se tornar alvos fáceis, já que seus poderes diminuiriam sem o apoio da Camarilla.
        </p>
        <div style="text-align: center;">
             <h3>AS SEIS TRADIÇÕES</h3>
        </div>
        <h4>A Primeira Tradição : A Máscara</h4>

        <p>Não revelarás tua verdadeira natureza àqueles que não sejam do Sangue. Ao fazer isto, renunciará aos teus direitos de Sangue.</p>

        <h4>A Segunda Tradição : O Domínio</h4>

        <p>Teu domínio é tua inteira responsabilidade. Todos os outros devem-te respeito enquanto nele estiverem. 
            Ninguém poderá desafiar tua palavra enquanto estiver em teu domínio.</p>

        <h4> A Terceira Tradição : A Progênie </h4>

        <p>Apenas com a permissão de teu ancião gerarás outro de tua raça. Se criares sem a permissão de teu ancião, tu e tua progênie serão sacrificados.</p>

        <h4>A Quarta Tradição : A Responsabilidade</h4>

        <p>Aqueles que criares serão teus próprios filhos. Até que tua progênie seja liberada, tu os comandará em todas as coisas.
             Os pecados de teus filhos recairão sobre ti.</p>

        <h4>A Quinta Tradição : A Hospitalidade</h4>

        <p>Honrarás o domínio de teu próximo. Quando chegares a uma cidade estrangeira, tu te apresentarás perante aquele que a gerir.
             Sem a palavra de aceitação, tu não és nada.</p>

        <h4>A Sexta Tradição : A Destruição</h4>

        <p>Tu és proibido de destruir outro de tua espécie. O direito de destruição pertence apenas ao teu ancião. Apenas os mais antigos entre vós, 
            convocarão a Caçada de Sangue.</p>
        <div style="text-align: center;">
            <h3>OS JUSTIÇARES</h3>
        </div>
        <p>
            Estes sete vampiros poderosos são os juizes apontados pelo Círculo Interno para serem os olhos, as mãos e, se necessário, os punhos da Camarilla. 
            Os Justicares têm a única e verdadeira autoridade sobre a Camarilla e todos os seus Membros, com exceção do Círculo Interno. 
            Somente eles têm o poder definitivo para julgar as questões relacionadas às Tradições. Ninguém é considerado acima deles nestes assuntos. 
            São os Justicares que decidem as punições àqueles que violam repetidamente as tradições; o réu não deve esperar misericórdia da parte deles. 
            Os Justicares são obrigados a invocar um Conclave quando decidirem proclamar um veredicto, mas com o passar dos anos vêm ignorando este fato à medida que seus poderes aumentam. 
            Os Justicares têm o poder de invocar um Conclave a qualquer momento, seja para confirmar uma ordem ou para tomar certas decisões pela qual um Justicar não deseja ser o único responsável.  
        </p>
        <div style="text-align: center;">
            <h3>O CONCLAVE</h3>
        </div>
        <p>
            Os Conclaves são eventos políticos importantes e potencialmente perigosos. Abertos a todos, são os meios mediante os quais a Camarilla funciona como uma
             seita. Normalmente este só são convocados, se necessário. A função básica do Conclave é fazer recomendações em assuntos que lhes são submetidos. 
             Qualquer membro pode submeter um assunto ao Conclave.  
        </p>
        <p>
            O Conclave interpreta as Seis Tradições e, em alguns casos, pode até mesmo estabelecer novas tradições. 
            Pode também convocar Caçadas de Sangue, mesmo contra o príncipe, que sob todos os aspectos estão salvos delas. 
        </p>
        <p>
            Os Conclaves só podem ser convocados por um Justicar, que possui autoridade para fazê-lo a qualquer momento.
        </p>
        <div style="text-align: center;">
            <h3>O CÍRCULO INTERNO</h3>
        </div>
        <p>
            A cada treze anos ocorre uma reunião dos Anciões de cada clan. Este é o núcleo da Camarilla. Comparados a esta assembléia, 
            todos os outros Conclaves não passam de teatrinhos de marionetes.   
        </p>
        <p>
            A função básica do Círculo Interno é designar um Justicar, os juízes da seita. Um Justicar é escolhido de cada um dos sete clãs. 
            Estes tem poder para lidar com os Membros da Camarilla que transgridam as tradições. Os Justicars detêm o poder verdadeiro na Camarilla.
        </p>
        <div style="text-align: center;">
            <h3>A PRIMIGÊNIE</h3>
        </div>
        <p>
            Primigênie são um grupo de Anciões que tem a função de aconselhar e auxiliar o príncipe. Juntos, esses anciões podem ser considerados os Membros mais poderosos da cidade.<br> 
            A Primigênie é extremamente influente, cabendo-lhe o papel de moderadora dos poderes ditatoriais do príncipe.
        </p>
        <div style="text-align: center;">
            <h3>O ELÍSIO</h3>
        </div>
        <P>
            Um príncipe costuma ceder certas porções de seu domínio que são livres de toda e qualquer violência. Esses locais são os Elísios.
        </P>
        <P>
            Os Elísios são a parte da cidade onde os acordos são fechados, e também onde ocorre a maioria das intrigas e debates.
        </P>
    </ul>
    
    </div>
    
</section>>

    

{% endblock %}