{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <!-- Coluna para os detalhes do personagem -->
        <div class="col-md-8">
            <ul class="list-group">
                <li class="list-group-item"><strong>Nome:</strong> {{ character.name }}</li>
                <li class="list-group-item"><strong>Raça:</strong> {{ character.race }}</li>
                
                <!-- Mostrar Clã e Geração apenas se a raça for vampiro -->
                {% if character.race.lower() == "vampiro" %}
                    <li class="list-group-item"><strong>Clã:</strong> {{ character.clan }}</li>
                    <li class="list-group-item"><strong>Geração:</strong> {{ character.bloodline }}</li>
                {% endif %}
            </ul>

            <!-- Descrição preservando a formatação -->
            <div class="description mt-4">
                <h5>Descrição</h5>
                <pre style="white-space: pre-wrap;">{{ character.description }}</pre>
            </div>

            <!-- Botões de Editar e Deletar -->
            {% if current_user.is_admin or character.created_by == current_user.id %}
            <div class="mt-4">
                <a href="{{ url_for('edit_character', character_id=character.id) }}" class="btn btn-warning">Editar</a>
                <form method="POST" action="{{ url_for('delete_character', character_id=character.id) }}" style="display:inline;">
                    <button type="submit" class="btn btn-danger">Deletar</button>
                </form>
            </div>
            {% endif %}
        </div>

        <!-- Coluna para a imagem -->
        <div class="col-md-4">
            {% if character.image %}
                <img src="{{ url_for('static', filename=character.image) }}" class="img-fluid rounded" alt="Imagem do Personagem">
            {% else %}
                <img src="{{ url_for('static', filename='img/default_character.jpg') }}" class="img-fluid rounded" alt="Imagem padrão">
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

