{% extends 'base.html' %}

{% block content %}
<h1>Personagens Importantes</h1>

<ul>
    {% for character in characters %}
        <li>{{ character.name }} - {{ character.description }}
            <form method="POST" action="{{ url_for('delete_character', id=character.id) }}" style="display:inline;">
                <button type="submit">Deletar</button>
            </form>
        </li>
    {% endfor %}
</ul>


<ul>
        <li><a href="{{ url_for('show_characters_by_race', race='vampiro') }}">Vampiros</a></li>
        <li><a href="{{ url_for('show_characters_by_race', race='humano') }}">Humanos</a></li>
        <li><a href="{{ url_for('show_characters_by_race', race='demonio') }}">Demônios</a></li>
        <li><a href="{{ url_for('show_characters_by_race', race='lobisomen') }}">Lobisomens</a></li>
        <li><a href="{{ url_for('show_characters_by_race', race='celestial') }}">celestiais</a></li>
</ul>
{% endblock %}
