{% extends 'base.html' %}

{% block content %}
<h1>Clãs</h1>
<p>Escolha seu clã com cuidado seu sangue e sua descendencia dependera dele.</p>
<ul>
    <li><a href="{{ url_for('assamitas') }}">Assamitas</a> <br></li>
    <li><a href="#">Brujah</a></li>
    <li><a href="#">Gangrel</a></li>
    <li><a href="#">Giovanni</a></li>
    <li><a href="#">Lassombra</a></li>
    <li><a href="#">Malkavianos</a></li>
    <li><a href="#">Nosferaru</a></li>
    <li><a href="#">Ravnos</a></li>
    <li><a href="#">Seguidores de Seth</a></li>
    <li><a href="#">Toreador</a></li>
    <li><a href="#">Tremere</a></li>
    <li><a href="#">Tzimisce</a></li>
    <li><a href="#">Ventrue</a></li>
    <li><a href="#">Caitiff</a></li>
    <li><a href="#">Sangue-ralo</a></li>
</ul>
{% endblock %}
