{% extends 'base.html' %}

{% block content %}
        <section>
            <div class="text-section">
                <h1>Bem-vindo ao Lilith's Fall uma aventura Vampiro V20</h1>
                <p>Acesse ferramentas de criação de personagens, campanhas e tudo o que você precisa para jogar nesse complexo mundo de Vampiro V20</p>

                <h2>O Que é um Vampiro?</h2>
                <p>Em Vampiro, jogadores assumem os personagens vampiros
                    Os sugadores de sangue do gênero de horror
                    e guia esses personagens através de um mundo virtualmente
                    idêntico ao nosso. Mas estes não são exatamente os
                    vampiros que você pode ter visto a partir de Drácula ou
                    Crepúsculo. Os vampiros que existem agora ou
                    Membros, Cainitas, uma vez que se chamam comumente
                    por tais termos são semelhantes e diferentes do que
                    poderíamos esperar. De muitas maneiras, os vampiros
                    lembram os monstros que são conhecidos do mito, do cinema, folclore e ficção. No entanto como muitos
                    um intrépido caçador de vampiros aprendeu a sua sina
                    nem todas as histórias sobre vampiros são verdadeiras.</p>

                <h2>O Mundo Noturno do Vampiro</h2>
                <p>Os vampiros adquirem poder para seu próprio bem e
                    pela segurança que traz, e eles acham ridiculamente fácil
                    adquirir bens mundanos, riquezas e influência. Um olhar
                    hipnotizante e algumas palavras fornecem a um vampiro
                    astuto acesso a toda a riqueza, poder e servos que ele
                    poderia desejar. Alguns vampiros poderosos são capazes de
                    implantar sugestões pós-hipnóticas ou comandos na
                    mente dos mortais, em seguida, fazem com que os mortais
                    esqueçam a presença do vampiro. Desta forma, os
                    vampiros podem facilmente adquirir legiões de escravos
                    involuntários.  Mais do que alguns "funcionários públicos"
                    e barões corporativos que secretamente respondem aos
                    mestres vampiros</p>
                    <p>Embora existam exceções, vampiros tendem a
                    permanecer perto das cidades. A cidade oferece inúmeras
                    oportunidades para a predação, ligações e politicagem — e a região selvagem se revela muitas vezes perigoso. A vida
                    selvagem é lar dos Lupinos, os lobisomens, que são os
                    inimigos ancestrais e desejam nada mais do que destruir
                    os vampiros definitivamente</p>
            </div>
            
        </section>
    </div>
</div>
{% endblock %}
