{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <!-- Área para Iniciar ou Finalizar Aventuras -->
    <div class="row">
        <div class="col-md-8">
            <h2>Sala do Mestre</h2>

            <!-- Formulário para Iniciar Aventura -->
            <form method="POST" id="start-adventure-form" action="{{ url_for('start_adventure') }}">
                <div class="mb-3">
                    <label for="adventure_id" class="form-label">Selecionar Aventura para Iniciar</label>
                    <select name="adventure_id" id="adventure_id" class="form-select" required>
                        <option value="" disabled selected>Escolha uma Aventura...</option>
                        {% for adventure in adventures %}
                        {% if adventure.status == 'Disponivel' %}
                        <option value="{{ adventure.id }}">{{ adventure.title }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-success">Iniciar Aventura</button>
            </form>

            <!-- Botão de Finalizar Aventura -->
            <button id="finalize-adventure-btn" class="btn btn-danger mt-4">Finalizar Aventura</button>

            <!-- Formulário para Salvar Detalhes da Aventura Finalizada (escondido inicialmente) -->
            <form method="POST" id="save-final-adventure-form" action="{{ url_for('save_final_adventure') }}" class="mt-4" style="display: none;">
                <div class="mb-3">
                    <select name="adventure_id" id="adventure_id" class="form-select" required>
                        <option value="" disabled selected>Escolha uma Aventura...</option>
                        {% for adventure in adventures %}
                        {% if adventure.status == 'Em andamento' %}
                        <option value="{{ adventure.id }}">{{ adventure.title }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="finished" class="form-label">Detalhes da Aventura Finalizada</label>
                    <textarea class="form-control" id="finished" name="finished" rows="5" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Salvar Aventura Finalizada</button>
            </form>

            <!-- Submenu para Aventuras Finalizadas -->
            <div class="row mt-5">
                <div class="col-md-12">
                    <h3>Aventuras Finalizadas</h3>
                    {% if final_adventures %}
                    <ul class="list-group mb-3">
                        {% for adventure in final_adventures %}
                        {% if adventure.status == 'Finalizada' %}
                        <li class="list-group-item">
                            <strong>{{ adventure.title }}</strong>
                            <p>{{ adventure.finished }}</p>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>Nenhuma aventura em andamento.</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Área para playlists de música e efeitos sonoros -->
        <div class="col-md-4">
            <h4>Playlists</h4>

            <!-- Playlist de músicas -->
            <div class="playlist mt-3">
                <h5>Playlist de Músicas</h5>
                <ul id="music-list" class="list-group" style="max-height: 300px; overflow-y: auto;">
                    {% for music in music_playlist %}
                    <li class="list-group-item">
                        {{ music.title }}
                        <audio controls>
                            <source src="{{ url_for('static', filename=music.file_path) }}" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                        {% if current_user.is_admin %}
                        <form method="POST" action="{{ url_for('delete_music', music_id=music.id) }}" style="display:inline;">
                            <button type="submit" class="btn btn-danger btn-sm">Remover</button>
                        </form>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                <form method="POST" action="{{ url_for('add_music') }}" enctype="multipart/form-data" class="mt-3">
                    <input type="file" name="music_file" accept="audio/*" required>
                    <button type="submit" class="btn btn-primary btn-sm">Adicionar Música</button>
                </form>
            </div>

            <div class="playlist mt-5">
                <h5>Playlist de Efeitos Sonoros</h5>
                <ul id="sfx-list" class="list-group" style="max-height: 300px; overflow-y: auto;">
                  {% for sfx in sfx_playlist %}
                    <li class="list-group-item">
                      {{ sfx.title }}
                      <audio id="sfx-{{ sfx.id }}" controls>
                        <source src="{{ url_for('static', filename=sfx.file_path) }}" type="audio/mpeg">
                        Your browser does not support the audio element.
                      </audio>
                      <button id="loop-btn-{{ sfx.id }}" class="btn btn-sm btn-loop">Loop</button>
                      {% if current_user.is_admin %}
                        <form method="POST" action="{{ url_for('delete_sfx', sfx_id=sfx.id) }}" style="display:inline;">
                          <button type="submit" class="btn btn-danger btn-sm">Remover</button>
                        </form>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
                {% if current_user.is_admin %}
                  <form method="POST" action="{{ url_for('add_sfx') }}" enctype="multipart/form-data" class="mt-3">
                    <input type="file" name="sfx_file" accept="audio/*" required>
                    <button type="submit" class="btn btn-primary btn-sm">Adicionar Efeito Sonoro</button>
                  </form>
                {% endif %}
              </div>
              
              <script>
              // Adicionar ouvintes de eventos para os botões de loop
            const loopButtons = document.querySelectorAll('.btn-loop');

            loopButtons.forEach(button => {
            button.addEventListener('click', function() {
            const audioElement = document.getElementById('sfx-' + this.id.split('-')[2]);

            // Verifica se o áudio está em loop
            if (audioElement.loop) {
             audioElement.loop = false; // Desativa o loop
            audioElement.pause(); // Para o áudio
            this.textContent = 'Loop'; // Atualiza o texto do botão
            } else {
            audioElement.loop = true; // Ativa o loop
            audioElement.play(); // Inicia o áudio
            this.textContent = 'Looping'; // Atualiza o texto do botão
            }
         });
        });
              </script> 
    </div>
</div>

<script>
    // Mostrar o formulário de salvar aventura finalizada ao clicar no botão de finalizar
    document.getElementById('finalize-adventure-btn').addEventListener('click', function () {
        document.getElementById('save-final-adventure-form').style.display = 'block';
    });
</script>
{% endblock %}
