{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Aventuras - {{ status|capitalize }}</h2>

    <!-- Exibe cartões para cada personagem -->
    <div class="row">
        {% for adventure in adventures %}
        <div class="col-md-12 mb-4">
            <div class="card horizontal-card">
                <div class="row g-0">
                    <div class="col-md-4">
                        {% if adventure.image %}
                        <img src="{{ url_for('static', filename=adventure.image) }}" class="img-fluid rounded-start" alt="Imagem da Aventura" style="height: 250px; width: 350px; object-fit: cover;">
                        {% else %}
                        <img src="{{ url_for('static', filename='img/default_character.jpg') }}" class="card-img-top" alt="Imagem padrão">
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ adventure.title }}</h5>
                            <p class="card-text"><strong>Solicitante:</strong> {{ adventure.requester }}</p>
                            <p class="card-text"><strong>Recompensa:</strong> {{ adventure.reward }}</p>
                            <a href="{{ url_for('adventure_detail', adventure_id=adventure.id) }}" class="btn btn-primary">Ver Detalhes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
